<?xml version="1.0" encoding="utf-8"?>
<Content Key="63d742b5-19e8-40e4-aae3-5a9697a69e35" Alias="Login" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2025-03-24T20:28:19</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>