<?xml version="1.0" encoding="utf-8"?>
<forms-form Key="80bd3f56-8285-4d73-af04-061b3033a05d" Alias="Contact">
  <Info>
    <Name>Contact</Name>
    <FieldIndicationType>NoIndicator</FieldIndicationType>
    <Indicator>*</Indicator>
    <ShowValidationSummary>false</ShowValidationSummary>
    <HideFieldValidation>false</HideFieldValidation>
    <RequireErrorMessage>Please provide a value for {0}</RequireErrorMessage>
    <InvalidErrorMessage>Please provide a valid value for {0}</InvalidErrorMessage>
    <MessageOnSubmit IsHtml="false">Thank you</MessageOnSubmit>
    <GoToPageOnSubmit>00000000-0000-0000-0000-000000000000</GoToPageOnSubmit>
    <XPathOnSubmit></XPathOnSubmit>
    <ManualApproval>false</ManualApproval>
    <StoreRecordsLocally>true</StoreRecordsLocally>
    <CssClass></CssClass>
    <DisabledDefaultStylesheet>false</DisabledDefaultStylesheet>
    <AutocompleteAttribute></AutocompleteAttribute>
    <Workflows>
      <Workflow>
        <Id>1ace7e2a-1eed-4093-bc52-4909f4ab84f2</Id>
        <Name>Send template email to workshop@example.com</Name>
        <Active>true</Active>
        <IncludeSensitiveData>False</IncludeSensitiveData>
        <WorkflowTypeId>17c61629-d984-4e86-b43b-a8407b3efea9</WorkflowTypeId>
        <ExecutesOn>Submitted</ExecutesOn>
        <SortOrder>1</SortOrder>
        <IsMandatory>false</IsMandatory>
        <Settings><![CDATA[{
  "Email": "workshop@example.com",
  "CcEmail": "",
  "BccEmail": "",
  "SenderEmail": "",
  "ReplyToEmail": "",
  "Subject": "The Form '{form_name}' was submitted",
  "RazorViewFilePath": "Forms/Emails/Example-Template.cshtml",
  "HeaderHtml": "",
  "BodyHtml": "",
  "FooterHtml": "",
  "Attachment": ""
}]]></Settings>
        <Condition><![CDATA[{
  "id": "00000000-0000-0000-0000-000000000000",
  "enabled": false,
  "actionType": "Show",
  "logicType": "All",
  "rules": []
}]]></Condition>
      </Workflow>
    </Workflows>
    <DataSource />
    <FolderId />
    <Folder></Folder>
    <SubmitLabel>Submit</SubmitLabel>
    <NextLabel>Next</NextLabel>
    <PreVLabel>Previous</PreVLabel>
  </Info>
  <Pages><![CDATA[[
  {
    "fieldSets": [
      {
        "caption": null,
        "sortOrder": 0,
        "id": "01d3e6ed-9df0-438f-8b21-97d172cb2014",
        "page": "00000000-0000-0000-0000-000000000000",
        "containers": [
          {
            "caption": null,
            "width": 12,
            "fields": [
              {
                "caption": "Name",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "name",
                "id": "6c07adfd-de1e-41e4-cf9e-36e8573fc6c1",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "8e3d88c5-7d2e-47e7-9ded-6560d6d1ab97",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Email",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "email",
                "id": "3722a4a8-a4db-4d47-e8db-e25d3fd91abb",
                "fieldTypeId": "3f92e01b-29e2-4a30-bf33-9df5580ed52c",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "ee1674d8-95a7-427b-93cb-4d8492c36636",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "MaximumLength": "",
                  "FieldType": "email",
                  "AutocompleteAttribute": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Question",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "question",
                "id": "76526a93-6521-4bc7-caf2-72763d15c883",
                "fieldTypeId": "023f09ac-1445-4bcb-b8fa-ab49f33bd046",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": false,
                "regex": null,
                "requiredErrorMessage": null,
                "invalidErrorMessage": null,
                "condition": {
                  "id": "1b4e967f-5db3-4345-9e84-bd1168761d91",
                  "enabled": false,
                  "actionType": "Show",
                  "logicType": "All",
                  "rules": []
                },
                "settings": {
                  "DefaultValue": "",
                  "Placeholder": "",
                  "ShowLabel": "True",
                  "AutocompleteAttribute": "",
                  "NumberOfRows": "2",
                  "MaximumLength": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              },
              {
                "caption": "Consent for storing submitted data",
                "tooltip": null,
                "placeholder": null,
                "cssClass": null,
                "alias": "dataConsent",
                "id": "49354da7-083f-47cf-a0ee-3d06ac5eee47",
                "fieldTypeId": "a72c9df9-3847-47cf-afb8-b86773fd12cd",
                "prevalueSourceId": "00000000-0000-0000-0000-000000000000",
                "dataSourceFieldKey": null,
                "containsSensitiveData": false,
                "mandatory": true,
                "regex": null,
                "requiredErrorMessage": "Consent is required to store and process the data in this form.",
                "invalidErrorMessage": null,
                "condition": null,
                "settings": {
                  "AcceptCopy": "Yes, I give permission to store and process my data",
                  "ShowLabel": ""
                },
                "preValues": [],
                "allowedUploadTypes": null,
                "allowMultipleFileUploads": true
              }
            ]
          }
        ],
        "condition": null
      }
    ],
    "caption": null,
    "sortOrder": 0,
    "id": "f3ac3a5e-e1c6-48f1-bdf9-3dbbd03de005",
    "form": "00000000-0000-0000-0000-000000000000",
    "buttonCondition": null
  }
]]]></Pages>
</forms-form>