<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad0d411a-2c9e-4936-b52e-d20ad1b6f7cb" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="0fb9d71e-ae73-41c4-bfa8-4038fafd733f">Engage</Parent>
    <Path>/Engage/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-03-24T20:23:05</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>